# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

### DEPENDENCIES ###
node_modules/

### EXPO ###
.expo/
dist/
web-build/
expo-env.d.ts

### NATIVE / ANDROID / IOS ###
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
android/app/release/
android/app/debug/
ios/build/
ios/Pods/

### METRO ###
.metro-health-check*

### DEBUG LOGS ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### MACOS / WINDOWS ###
.DS_Store
Thumbs.db
*.pem

### ENVIRONMENT FILES ###
# Ignore all env variants but keep example templates
.env
.env.*
!.env.example

### TYPESCRIPT ###
*.tsbuildinfo

### IDE / EDITOR ###
.vscode/
.idea/
*.swp
*.swo

#
